:root {
  --header-color: #212121;
  --main-font-roboto: "Roboto";
  --one-of-main-colors: #ffffff;
  --blue-color: #2196F3;
  --black-one: #000000;
  --sub-font-raleway: "Raleway";
  --background: #2F303A;
  --paragraph-color: #757575;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

body {
  font-family: var(--main-font-roboto);
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  /*outline: 1px solid red;*/
}

.section {
  padding: 94px 0;
}

.hiden {
  opacity: 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.header-list {
  display: flex;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
}

.header-contact-flex {
  margin-left: auto;
}

.header-link:not(:last-child) {
  margin-right: 50px;
}

.header-line {
  position: relative;
  cursor: pointer;
  line-height: 1;
  text-decoration: none;
}

.header-line:after {
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 2px;
  background: #2196F3;
  border-radius: 2px;
  content: "";
  transition: width 0.3s ease-out;
  width: 100%;
}

.mail-icon {
  margin-right: 10px;
  align-items: center;
  width: 16px;
  height: 12px;
}

.phone-icon {
  margin-right: 10px;
  align-items: center;
  width: 10px;
  height: 16px;
}

.header-link:hover .phone-icon,
.header-link:focus .phone-icon {
  fill: var(--blue-color);
}

.header-link:hover .mail-icon,
.header-link:focus .mail-icon {
  fill: var(--blue-color);
}

.header-link {
  color: var(--header-color);
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover,
.header-link:focus {
  color: var(--blue-color);
  text-decoration: none;
}

.header-item {
  text-decoration: none;
  font-family: var(--main-font-roboto);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--header-color);
}

.header-item:not(:last-child) {
  margin-right: 50px;
}

.header-item:hover,
.header-item:focus {
  color: var(--blue-color);
  text-decoration: none;
}

.header-contact {
  text-decoration: none;
  color: var(--header-color);
}

.header-contact:focus,
.header-contact:hover {
  color: var(--blue-color);
}

.logo {
  margin-right: 93px;
}

.logo {
  text-decoration: none;
  font-family: var(--sub-font-raleway);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--blue-color);
}

.logo_second {
  color: #000000;
}

.contact-wrap {
  align-items: baseline;
  display: flex;
}

.mail-color:not(:last-child) {
  margin-right: 50px;
}

.mail-color {
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-flex {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.btn-flex-item:not(:last-child) {
  margin-right: 8px;
}

.modal-close-btn {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-close-btn:hover .modal-icon,
.modal-close-btn:focus .modal-icon {
  fill: var(--blue-color);
}

.modal-btn {
  display: block;
  margin: 0 auto;
}

.btn-pos {
  position: relative;
}

.portfolio-button {
  cursor: pointer;
  background: #F5F4FA;
  border: 0;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-button:hover,
.portfolio-button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  background-color: var(--blue-color);
}

.portfolio-button-text {
  font-family: var(--main-font-roboto);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.03em;
  color: var(--header-color);
  cursor: pointer;
  padding: 6px 22px;
}

.portfolio-button-text:hover,
.portfolio-button-text:focus {
  color: var(--one-of-main-colors);
}

.button {
  font-family: var(--main-font-roboto);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: var(--one-of-main-colors);
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  width: 200px;
  padding: 10px 30px;
  border: 0;
}

.footer-mailing-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: var(--main-font-roboto);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: var(--one-of-main-colors);
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  width: 200px;
  height: 50px;
  border: 0;
  padding: 10px 28px;
  position: relative;
  margin-right: 5px;
}

.main-back {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Img.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--background);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.main-title {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--one-of-main-colors);
  max-width: 700px;
  margin: 0 auto 30px;
}

.benefits {
  padding-top: 94px;
  padding-bottom: 94px;
}

.benefits-list {
  display: flex;
  justify-content: space-between;
}

.benefits-icon {
  width: 70px;
  height: 70px;
}

.benefits-list-item {
  background: #F5F4FA;
  border-radius: 4px;
  width: 270px;
  height: 120px;
  align-items: center;
  margin-right: 30px;
  margin-bottom: 30px;
}

.benefits-list-item:last-child {
  margin-right: 0;
}

.benefits-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.container .features {
  display: flex;
}

.features-item:not(:last-child) {
  margin-right: 30px;
}

.feature-text:not(:last-child) {
  margin-left: 30px;
}

.sub-title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--header-color);
  margin-bottom: 10px;
}

.paragraph {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--paragraph-color);
}

.team-activity {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-color);
  margin-bottom: 50px;
}

.team-activity-list {
  display: flex;
}

.team-activity-item:not(:last-child) {
  margin-right: 30px;
}

.pic-text1 {
  position: relative;
}

.pic-text-style {
  position: absolute;
  background: rgba(47, 48, 58, 0.8);
  width: 360px;
  height: 70px;
  bottom: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 28px 75px;
  color: #FFFFFF;
}

.team-back {
  background: #F5F4FA;
}

.team-list {
  display: flex;
}

.team-list-item {
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-list-item:not(:last-child) {
  margin-right: 30px;
}

.team-member {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-color);
  margin-bottom: 10px;
}

.position {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--paragraph-color);
  margin-bottom: 16px;
}

.worker-soc-list {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.worker-soc-item {
  width: 44px;
  height: 44px;
  margin-left: 10px;
}

.worker-soc-item:first-child {
  margin-left: 0;
}

.worker-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.worker-soc-icon {
  fill: #AFB1B8;
  width: 20px;
  height: 20px;
}

.worker-soc-link:hover,
.worker-soc-link:focus {
  background-color: #2196F3;
}

.worker-soc-link:hover .worker-soc-icon,
.worker-soc-link:focus .worker-soc-icon {
  fill: #ffffff;
}

.img1 {
  margin-bottom: 30px;
}

.clients-list {
  display: flex;
  justify-content: center;
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}

.client-link {
  display: flex;
  align-items: center;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  justify-content: center;
}

.client-link:hover,
.client-link:focus {
  border-color: var(--blue-color);
  fill: var(--blue-color);
}

.clients-icon {
  fill: #AFB1B8;
  width: 100%;
  height: 100%;
  width: 106px;
  height: 60px;
}

.client-link:hover .clients-icon,
.client-link:focus .clients-icon {
  fill: var(--blue-color);
}

.footer-list {
  margin-top: 20px;
}

.footer-item2 {
  margin-top: 10px;
}

.footer-link:hover,
.footer-link:focus {
  color: var(--blue-color);
}

.footer-join {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #FFFFFF;
}

.footer-contact-list {
  display: flex;
}

.footer-contact-item {
  width: 44px;
  height: 44px;
  margin-left: 10px;
}

.footer-contact-item:first-child {
  margin: 0;
}

.footer-contact-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon {
  width: 20px;
  height: 20px;
  fill: #FFFFFF;
}

.footer-contact-link:hover,
.footer-contact-link:focus {
  background-color: var(--blue-color);
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-contact-soc {
  margin-left: 70px;
}

.footer-logo {
  text-decoration: none;
  font-family: var(--sub-font-raleway);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--blue-color);
}

.footer-logo-color {
  text-decoration: none;
  color: var(--one-of-main-colors);
}

.footer-back {
  background-color: var(--background);
  padding: 60px 0;
}

.footer-mailing {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.footer-input {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding-left: 16px;
  color: #ffffff;
}

.footer-input::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-input:focus {
  outline: 1px solid var(--blue-color);
  border: 1px solid var(--blue-color);
}

.footer-mailing-wrap {
  margin-left: 93px;
}

.footer-mailing-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: var(--main-font-roboto);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: var(--one-of-main-colors);
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  width: 200px;
  height: 50px;
  border: 0;
  padding: 10px 28px;
  position: relative;
  margin-right: 5px;
}

.footer-mailing-icon {
  margin-left: 10px;
}

.adres {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--one-of-main-colors);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adres-style {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adres:hover,
.adres:focus {
  color: var(--blue-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms linear, visibility 250ms linear;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  min-height: 581px;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms linear;
  padding: 40px;
}

.modal-icon {
  width: 100%;
  height: 100%;
  width: 20px;
  height: 20px;
  fill: #000000;
}

.modal-close-btn {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-close-btn:hover .modal-icon,
.modal-close-btn:focus .modal-icon {
  fill: var(--blue-color);
}

.modal-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.modal-input {
  background-color: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  padding-left: 37px;
}

.modal-input:focus {
  outline: 1px solid var(--blue-color);
}

.modal-input:focus + .input-icon {
  fill: var(--blue-color);
}

.modal-label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  display: block;
  margin-bottom: 4px;
}

.modal-text {
  width: 100%;
  height: 120px;
  resize: none;
  padding-top: 12px;
  background-color: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  margin-bottom: 20px;
  padding-left: 12px;
}

.modal-text:focus {
  outline: 1px solid var(--blue-color);
  border: 1px solid var(--blue-color);
}

.modal-text::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.input-wrap {
  position: relative;
  margin-bottom: 40px;
}

.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.check-text {
  font-family: var(--main-font-roboto);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  align-items: center;
}

.input-privacy {
  font-family: var(--main-font-roboto);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-decoration: underline var(--blue-color);
  color: var(--blue-color);
}

.check-text::before {
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  margin-right: 7px;
}

.input-check:checked + .check-text::before {
  background-color: var(--blue-color);
  background-image: url(../images/check.svg);
  background-repeat: no-repeat;
  border: 0px;
  background-position: center;
}

.modal-btn {
  display: block;
  margin: 0 auto;
}/*# sourceMappingURL=main.css.map */