:root{
--header-color: #212121;
--main-font-roboto: "Roboto";
--one-of-main-colors: #ffffff;

}

body{
    font-family: var(--main-font-roboto);
}


* {
    list-style: none;
}
.logo{
position: absolute;
width: 145px;
height: 31px;
left: 215px;
top: 24px;
text-decoration: none;
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;

letter-spacing: 0.03em;

color: #2196F3;
list-style: none;
}
.logo_second{

    color: #000000;
list-style: none;
}

.header-link{
    text-decoration: none;
font-family: var(--main-font-roboto);
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
color: var(--header-color);
}

.header-link:hover,
.header-link:focus{
color: #2196F3;
}

.mail-color{
   color:#757575;
}


.header-contact{
text-decoration: none;
color: var(--header-color);
}
.header-contact:focus,
.header-contact:hover{
    color: #2196F3;
}

.main-title{
    font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 60px;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
background-color: #2F303A;
color: var(--one-of-main-colors);
}

.portfolio-button{
    list-style: none;
    text-decoration: none;
background: #F5F4FA;
border-radius: 4px;
}
.portfolio-button-text{
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */

text-align: center;
letter-spacing: 0.03em;

color: #212121;
}
button:hover,
button:focus{
    background-color: #2196F3;
}




.portfolio-title{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 36px;
letter-spacing: 0.06em;
color: #212121;
}


.main-paragraph{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
letter-spacing: 0.03em;
color: #757575;
}




.footer-logo{
    text-decoration: none;
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
letter-spacing: 0.03em;
color: #2196F3;
}
.footer-logo-color{
    text-decoration: none;
    color: var(--one-of-main-colors);
}


.adres{
text-decoration: none;
font-family: var(--main-font-roboto);
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: var(--one-of-main-colors);
}

/* HMW2 STYLES */



.button{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 188% */

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;

color: var(--one-of-main-colors);
background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
}

.sub-title{
font-family: var(--main-font-roboto);
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #212121;
}

.paragraph{
font-family: var(--main-font-roboto);
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: #757575;
}

.team-activity{
    font-family: var(--main-font-roboto);
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}

.team-member{
font-family: var(--main-font-roboto);
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}

.position{
font-family:var(--main-font-roboto);
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;
letter-spacing: 0.03em;
color: #757575;
}


.footer-back{
    background-color: #2F303A;
}
.main-back{
  background-color: #2F303A;
}
.team-back{
    background: #F5F4FA;
}

