:root{
--header-color: #212121;
--main-font-roboto: "Roboto";
--one-of-main-colors: #ffffff;
--blue-color: #2196F3;
--black-one: #000000;
--sub-font-raleway: 'Raleway';
--background: #2F303A;
--paragraph-color: #757575;
}

p, h1, h2, h3, h4, h5, h6{
    margin: 0;
}

body{
    font-family: var(--main-font-roboto);
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
}
/*------------------------------------------------------------FLEX------------------------------------------*/
.container{
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    /*outline: 1px solid red;*/
}
.section{
    padding: 94px 0;
    
}



.benefits{
    padding-top: 94px;
    padding-bottom: 94px;
}


.team{
    padding-bottom: 94px;
}

.header-list{
    display: flex;
}
.header-nav{
    display: flex;
    align-items: center;
}
.header{
    display: flex;
    align-items: center;
    
}
.header-contact-flex{
    margin-left: auto;
}
.logo{
    margin-right: 93px;
}
.header-link:not(:last-child){
    margin-right: 50px;
}

.mail-color:not(:last-child){
margin-right: 50px;
}
.contact-wrap{
    align-items: baseline;
    display: flex;
}

.container .features{
    display: flex;
}

.features-item:not(:last-child){
    margin-right: 30px;
}

.feature-text:not(:last-child){
    margin-left: 30px;
}

.team-activity-list{
    display: flex;
}
.team-activity-item:not(:last-child){
margin-right: 30px;
}

.team-list{
display: flex;
}
.team-list-item{
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-list-item:not(:last-child){
margin-right: 30px;
}

.hiden{
    opacity: 0;
}

.footer-list{
    margin-top: 20px;
}
.footer-item2{
    margin-top: 10px;
}

.img1{
    margin-bottom: 30px;
}

.name-surname{

}

.footer-link:hover,
.footer-link:focus{
color: var(--blue-color);
}


/*--------------------PORTFOLIO FLEX----------------*/

.btn-flex{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

}



.btn-flex-item:not(:last-child){
margin-right: 8px;
}

.card-list{
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: -30px;
    margin-left: -30px;
}

.card-list-item{
    flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

}

img {
    display: block;
    max-width: 100%;
    height: auto;
}


.portfolio-title{
    margin-top: 20px;
    padding-left: 24px;
}
.main-paragraph{
    margin-bottom: 20px;
    padding-left: 24px;
}











/*--------------------PORTFOLIO FLEX----------------*/

/*------------------------------------------------------------FLEX------------------------------------------*/





/*     -------------------------SVG STUFF--------------------      */

/*benefits*/

.benefits-list{
    display: flex;
    justify-content: space-between;
}

.benefits-icon{
    width: 70px;
    height: 70px;
    
}

.benefits-list-item{
background: #F5F4FA;
border-radius: 4px;
width: 270px;
height: 120px;
align-items: center;
margin-right: 30px;
margin-bottom: 30px;
}
.benefits-list-item:last-child{
    margin-right: 0;
}

.benefits-link{
display: flex;
align-items: center;
justify-content: center;
height: 100%;
}

/*benefits*/


/*HEADER ICONS*/
.mail-icon{
    
    margin-right: 10px;
    align-items: center;
    width: 16px;
    height: 12px;
    
}

.phone-icon{

    margin-right: 10px;
    align-items: center;
    width: 10px;
    height: 16px;
    
}

.header-link:hover .phone-icon,
.header-link:focus .phone-icon{
    fill: var(--blue-color);
}

.header-link:hover .mail-icon,
.header-link:focus .mail-icon{
    fill: var(--blue-color);
}


/*----TEAM----*/
.worker-soc-list{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.worker-soc-item{
    width: 44px;
    height: 44px;
    margin-left: 10px;
}

.worker-soc-item:first-child{
    margin-left: 0;
}

.worker-soc-link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    
}

.worker-soc-icon{
    fill: #AFB1B8;
    width: 20px;
    height: 20px;
   
}

.worker-soc-link:hover,
.worker-soc-link:focus{
background-color:#2196F3;
}

.worker-soc-link:hover .worker-soc-icon,
.worker-soc-link:focus .worker-soc-icon{
fill: #ffffff ;
}
/*----TEAM----*/




.footer-join{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
margin-bottom: 20px;
color: #FFFFFF;
}

.footer-contact-list{
    display: flex;
}

.footer-contact-item{
    width: 44px;
    height: 44px;
    margin-left: 10px;
}

.footer-contact-item:first-child{
    margin: 0;

}
.footer-contact-link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
}

.footer-icon{
    width: 20px;
    height: 20px;
    fill: #FFFFFF;
}

.footer-contact-link:hover,
.footer-contact-link:focus{
    background-color: var(--blue-color);
}


.footer-container{
    display: flex;
    align-items: baseline;
}
.footer-contact-soc{
    margin-left: 70px;
}



/*CLIENTS*/

.clients-list{
display: flex;
justify-content: center;
}

.clients-item:not(:last-child){
margin-right: 30px;
}

.client-link{
display: flex;
fill: #AFB1B8; 
align-items: center;
border: 1px solid #AFB1B8;
border-radius: 4px;
width: 170px;
height: 92px;
}

.client-link:hover,
.client-link:focus{
border-color: var(--blue-color);
fill: var(--blue-color);
}



.clients-icon{
    color: #AFB1B8;
    width: 100%;
    height: 100%;
    justify-content: center;
    margin: 16px 32px;
}

/*CLIENTS*/


.card-list-item:hover,
.card-list-item:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);;
}







/*     -------------------------SVG STUFF--------------------      */

.logo{
text-decoration: none;
font-family: var(--sub-font-raleway);
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
letter-spacing: 0.03em;
color: var(--blue-color);
}
.logo_second{
    color: #000000;

}

.header-link{
    color: var(--header-color);
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
}
.header-link:hover,
.header-link:focus{
    color: var(--blue-color);
    text-decoration: none;
}

.header-item{
text-decoration: none;
font-family: var(--main-font-roboto);
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
color: var(--header-color);
}
.header-item:not(:last-child){
    margin-right: 50px;
}

.header-item:hover,
.header-item:focus{
color: var(--blue-color);
text-decoration: none;
}

.mail-color{
   color:#757575;
   
}
.adres-style{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}

.header-contact{
text-decoration: none;
color: var(--header-color);
}
.header-contact:focus,
.header-contact:hover{
    color: var(--blue-color);
}

.main-title{
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 60px;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--one-of-main-colors);
max-width: 700px;
margin: 0 auto 30px;

}

.portfolio-button{
cursor: pointer;
background: #F5F4FA;
border: 0;
border-radius: 4px;
}




.portfolio-button-text{
font-family: var(--main-font-roboto);
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;
letter-spacing: 0.03em;
color: var(--header-color);
cursor: pointer;
padding: 6px 22px;
}
.portfolio-button-text:hover,
.portfolio-button-text:focus{
    color: var(--one-of-main-colors);
}
button:hover,
button:focus{
    background-color: var(--blue-color);
}


.portfolio-title{
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 36px;
letter-spacing: 0.06em;
color: var(--header-color);
}


.main-paragraph{
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
letter-spacing: 0.03em;
color: var(--paragraph-color);
}




.footer-logo{
    text-decoration: none;
font-family: var(--sub-font-raleway);
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
letter-spacing: 0.03em;
color: var(--blue-color);

}
.footer-logo-color{
    text-decoration: none;
    color: var(--one-of-main-colors);
}


.adres{
text-decoration: none;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: var(--one-of-main-colors);
}

/* HMW2 STYLES */



.button{
    font-family: var(--main-font-roboto);
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 30px;
letter-spacing: 0.06em;
color: var(--one-of-main-colors);
background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
cursor: pointer;
max-width: 200px;
padding: 10px 30px;
border: 0;
}



.sub-title{
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--header-color);

margin-bottom: 10px;
}

.paragraph{
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: var(--paragraph-color);
}

.team-activity{
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;
color: var(--header-color);
margin-bottom: 50px;
}

.team-member{
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
text-align: center;
letter-spacing: 0.03em;
color: var(--header-color);
margin-bottom: 10px;
}

.position{
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;
letter-spacing: 0.03em;
color: var(--paragraph-color);
margin-bottom: 16px;
}


.footer-back{
    background-color: var(--background);
    padding: 60px 0;
}
.main-back{
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Img.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  background-color: var(--background);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.team-back{
    background: #F5F4FA;
}

.adres:hover,
.adres:focus{
    color: var(--blue-color);
}

.border-portfolio-header{
    border: 1px solid #ECECEC;
}