:root{
--header-color: #212121;
--main-font-roboto: "Roboto";
--one-of-main-colors: #ffffff;
--blue-color: #2196F3;
--black-one: #000000;
--sub-font-raleway: 'Raleway';
--background: #2F303A;
--paragraph-color: #757575;
}

p, h1, h2, h3, h4, h5, h6{
    margin: 0;
}

body{
    font-family: var(--main-font-roboto);
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
}
/*------------------------------------------------------------FLEX------------------------------------------*/
.container{
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    outline: 1px solid red;
}
.section{
    padding: 94px 0;
    
}



.benefits{
    padding-top: 94px;
    padding-bottom: 94px;
}


.team{
    padding-bottom: 94px;
}
.footer-flex{
    padding-top: 60px;
    padding-bottom: 60px;
}
.header-list{
    display: flex;
}
.header-nav{
    display: flex;
    align-items: center;
}
.header{
    display: flex;
    align-items: center;
}
.header-contact-flex{
    margin-left: auto;
}
.logo{
    margin-right: 93px;
}
.header-link:not(:last-child){
    margin-right: 50px;
}

.mail-color:not(:last-child){
margin-right: 50px;
}
.contact-wrap{
    display: flex;
    margin-right: 50px;
}

.container .features{
    display: flex;
}

.features-item:not(:last-child){
    margin-left: 30px;
}

.feature-text:not(:last-child){
    margin-left: 30px;
}

.team-activity-list{
    display: flex;
}
.team-activity-item:not(:last-child){
margin-right: 30px;
}

.team-list{
display: flex;
}
.team-list-item{

}

.hiden{
    opacity: 0;
}
/*------------------------------------------------------------FLEX------------------------------------------*/
.header{
    padding-top: 32px;
    padding-bottom: 32px;
}
.logo{
text-decoration: none;
font-family: var(--sub-font-raleway);
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
letter-spacing: 0.03em;
color: var(--blue-color);
padding-top: 24px;
}
.logo_second{
   padding-top: 24px;
    color: #000000;

}

.header-link{
text-decoration: none;
font-family: var(--main-font-roboto);
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
color: var(--header-color);
}

.header-link:hover,
.header-link:focus{
color: var(--blue-color);
text-decoration: none;
}

.mail-color{
   color:#757575;
}


.header-contact{
text-decoration: none;
color: var(--header-color);
}
.header-contact:focus,
.header-contact:hover{
    color: var(--blue-color);
}

.main-title{
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 60px;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--one-of-main-colors);
margin-bottom: 30px;
max-width: 700px;
margin-right: auto;
margin-left: auto;
align-items: center;
}

.portfolio-button{
cursor: pointer;
border-radius: 4px;
}
.portfolio-button-text{
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;
letter-spacing: 0.03em;
color: var(--header-color);
cursor: pointer;
}
.portfolio-button-text:hover,
.portfolio-button-text:focus{
    color: var(--one-of-main-colors);
}
button:hover,
button:focus{
    background-color: var(--blue-color);
}


.portfolio-title{
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 36px;
letter-spacing: 0.06em;
color: var(--header-color);
}


.main-paragraph{
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
letter-spacing: 0.03em;
color: var(--paragraph-color);
}




.footer-logo{
    text-decoration: none;
font-family: var(--sub-font-raleway);
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
letter-spacing: 0.03em;
color: var(--blue-color);

}
.footer-logo-color{
    text-decoration: none;
    color: var(--one-of-main-colors);
}


.adres{
text-decoration: none;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: var(--one-of-main-colors);
}

/* HMW2 STYLES */



.button{
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 30px;
cursor: pointer;
letter-spacing: 0.06em;
color: var(--one-of-main-colors);
background: var(--blue-color);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
cursor: pointer;
max-width: 200px;
}

.sub-title{
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--header-color);

margin-bottom: 10px;
}

.paragraph{
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: var(--paragraph-color);
}

.team-activity{
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;
color: var(--header-color);
padding-bottom: 50px;
}

.team-member{
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
text-align: center;
letter-spacing: 0.03em;
color: var(--header-color);
}

.position{
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;
letter-spacing: 0.03em;
color: var(--paragraph-color);
}


.footer-back{
    background-color: var(--background);
}
.main-back{
  background-color: var(--background);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.team-back{
    background: #F5F4FA;
}

.adres:hover,
.adres:focus{
    color: var(--blue-color);
}

