:root{
--header-color: #212121;
--main-font-roboto: "Roboto";
--one-of-main-colors: #ffffff;
--blue-color: #2196F3;
--black-one: #000000;
--sub-font-raleway: 'Raleway';
--background: #2F303A;
--paragraph-color: #757575;
}

p, h1, h2, h3, h4, h5, h6{
    margin: 0;
}

body{
    font-family: var(--main-font-roboto);
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
}
/*------------------------------------------------------------FLEX------------------------------------------*/
.container{
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    /*outline: 1px solid red;*/
}
.section{
    padding: 94px 0;
    
}



.benefits{
    padding-top: 94px;
    padding-bottom: 94px;
}


.team{
    padding-bottom: 94px;
}

.header-list{
    display: flex;
}
.header-nav{
    display: flex;
    align-items: center;
}
.header{
    display: flex;
    align-items: center;
    margin-right: 50px;
}
.header-contact-flex{
    margin-left: auto;
}
.logo{
    margin-right: 93px;
}
.header-link:not(:last-child){
    margin-right: 50px;
}

.mail-color:not(:last-child){
margin-right: 50px;
}
.contact-wrap{
    display: flex;
}

.container .features{
    display: flex;
}

.features-item:not(:last-child){
    margin-right: 30px;
}

.feature-text:not(:last-child){
    margin-left: 30px;
}

.team-activity-list{
    display: flex;
}
.team-activity-item:not(:last-child){
margin-right: 30px;
}

.team-list{
display: flex;
}
.team-list-item{
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-list-item:not(:last-child){
margin-right: 30px;
}

.hiden{
    opacity: 0;
}

.footer-list{
    margin-top: 20px;
}
.footer-item2{
    margin-top: 10px;
}
.img1{
    margin-bottom: 30px;
}

.name-surname{

}

.footer-link:hover,
.footer-link:focus{
color: var(--blue-color);
}


/*--------------------PORTFOLIO FLEX----------------*/

.btn-flex{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.btn-flex-item:not(:last-child){
margin-right: 8px;
}

.card-list{
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: -30px;
    margin-left: -30px;
}

.card-list-item{
    flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

}

img {
    display: block;
    max-width: 100%;
    height: auto;
}


.portfolio-title{
    margin-top: 20px;
    padding-left: 24px;
}
.main-paragraph{
    margin-bottom: 20px;
    padding-left: 24px;
}











/*--------------------PORTFOLIO FLEX----------------*/

/*------------------------------------------------------------FLEX------------------------------------------*/

.logo{
text-decoration: none;
font-family: var(--sub-font-raleway);
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
letter-spacing: 0.03em;
color: var(--blue-color);
}
.logo_second{
    color: #000000;

}

.header-link{
    color: var(--header-color);
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
}
.header-link:hover,
.header-link:focus{
    color: var(--blue-color);
    text-decoration: none;
}

.header-item{
text-decoration: none;
font-family: var(--main-font-roboto);
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
color: var(--header-color);
}
.header-item:not(:last-child){
    margin-right: 50px;
}

.header-item:hover,
.header-item:focus{
color: var(--blue-color);
text-decoration: none;
}

.mail-color{
   color:#757575;
}


.header-contact{
text-decoration: none;
color: var(--header-color);
}
.header-contact:focus,
.header-contact:hover{
    color: var(--blue-color);
}

.main-title{
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 60px;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--one-of-main-colors);
max-width: 700px;
margin: 0 auto 30px;

}

.portfolio-button{
cursor: pointer;
background: #F5F4FA;
border-radius: 4px;
}
.portfolio-button-text{
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;
letter-spacing: 0.03em;
color: var(--header-color);
cursor: pointer;
}
.portfolio-button-text:hover,
.portfolio-button-text:focus{
    color: var(--one-of-main-colors);
}
button:hover,
button:focus{
    background-color: var(--blue-color);
}


.portfolio-title{
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 36px;
letter-spacing: 0.06em;
color: var(--header-color);
}


.main-paragraph{
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
letter-spacing: 0.03em;
color: var(--paragraph-color);
}




.footer-logo{
    text-decoration: none;
font-family: var(--sub-font-raleway);
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
letter-spacing: 0.03em;
color: var(--blue-color);

}
.footer-logo-color{
    text-decoration: none;
    color: var(--one-of-main-colors);
}


.adres{
text-decoration: none;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: var(--one-of-main-colors);
}

/* HMW2 STYLES */



.button{
    font-family: var(--main-font-roboto);
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 30px;
letter-spacing: 0.06em;
color: var(--one-of-main-colors);
background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
cursor: pointer;
max-width: 200px;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 30px;
padding-right: 30px;
border: 0;
}



.sub-title{
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--header-color);

margin-bottom: 10px;
}

.paragraph{
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: var(--paragraph-color);
}

.team-activity{
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;
color: var(--header-color);
margin-bottom: 50px;
}

.team-member{
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
text-align: center;
letter-spacing: 0.03em;
color: var(--header-color);
margin-bottom: 10px;
}

.position{
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;
letter-spacing: 0.03em;
color: var(--paragraph-color);
margin-bottom: 30px;
}


.footer-back{
    background-color: var(--background);
    padding: 60px 0;
}
.main-back{
  background-color: var(--background);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.team-back{
    background: #F5F4FA;
}

.adres:hover,
.adres:focus{
    color: var(--blue-color);
}

