.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms linear, visibility 250ms linear;
}

.backdrop.is-hidden .modal{
transform: translate(-50%, -50%) scale(0);   
}


.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 528px;
    min-height: 581px;
    background: #FFFFFF;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 4px;
transition: transform 250ms linear;
padding: 40px;
}

.modal-icon{
    width: 100%;
    height: 100%;
    width: 20px;
    height: 20px;
    fill: #000000;
}

.modal-close-btn{
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;

}

.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-close-btn:hover .modal-icon,
.modal-close-btn:focus .modal-icon{
    fill: var(--blue-color);
}

.modal-title{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 23px;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
margin-bottom: 12px;
}

.modal-input{
background-color: transparent;
border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
width: 100%;
height: 40px;
margin-bottom: 10px;
padding-left: 37px;
}

.modal-input:focus{
outline: 1px solid var(--blue-color);
}
.modal-input:focus + .input-icon{
    fill: var(--blue-color);
}

.modal-label{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
letter-spacing: 0.01em;
color: #757575;
display: block;
margin-bottom: 4px;
}

.modal-text{
width: 100%;
height: 120px;
resize: none;
padding-top: 12px;
background-color: transparent;
border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
width: 100%;
margin-bottom: 20px;
padding-left: 12px;
}
.modal-text:focus{
    outline: 1px solid var(--blue-color);
    border: 1px solid var(--blue-color);
}


.modal-text::placeholder{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
letter-spacing: 0.01em;
color: rgba(117, 117, 117, 0.5);


}

.input-wrap{
position: relative;
margin-bottom: 40px;
}

.input-icon{
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    
}

.check-text{
font-family: var(--main-font-roboto);
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: #757575;
display: flex;
align-items: center;
}

.input-privacy{
font-family: var(--main-font-roboto);
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
text-decoration: underline var(--blue-color);
color: var(--blue-color);
}

.check-text::before{
    content: '';
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    margin-right: 7px;
}

.input-check:checked + .check-text::before{
background-color: var(--blue-color);
background-image: url(../images/check.svg);
background-repeat: no-repeat;
border: 0px;
background-position: center;
}

.modal-btn{
    display: block;
    margin: 0 auto;
}