.section{
    // padding: 94px 0;
    @include small{
            padding-bottom: 110px;
    }
    @include mobile {
        padding: 60px 0;
    }
    @include tablet {
       padding: 60px 0;
    }
    @include desktop {
        padding: 94px 0;
    }
}
.hiden{
    opacity: 0;
    @include mobile{
        display: none;
    }
}